body {
    background: #e7ebe1;
    display: flex;
}

.intro {
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
}

/* .header p {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 5px;
    border-right: 1px solid white;
    animation: type 2s steps(30, end);
} */

.ty {
    overflow: hidden;
    white-space: nowrap;
    width:0%;
    margin-top: 5px;
}

.ty:nth-child(1){
    animation: type 2.5s steps(30, end);
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.ty:nth-child(2){
    animation: type 2.5s steps(30, end);
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.ty:nth-child(3){
    animation: type 2.5s steps(30, end);
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.ty:nth-child(4){
    animation: type 2.5s steps(30, end);
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.ty:nth-child(5){
    animation: type 2.5s steps(30, end);
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}

.ty:nth-child(6){
    animation: type 2.5s steps(30, end);
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

.ty:nth-child(7){
    animation: type 2.5s steps(30, end);
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

.ty:nth-child(8){
    animation: type 2.5s steps(30, end);
    animation-delay: 8s;
    animation-fill-mode: forwards;
}

.ty:nth-child(9){
    animation: type 2.5s steps(30, end);
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

.ty:nth-child(10){
    animation: type 2.5s steps(30, end);
    animation-delay: 11s;
    animation-fill-mode: forwards;
}

.ty:nth-child(11){
    animation: type 2.5s steps(30, end);
    animation-delay: 12.5s;
    animation-fill-mode: forwards;
}

.ty:nth-child(12){
    animation: type 2.5s steps(30, end);
    animation-delay: 13s;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {width: 0%}
    100% {width: 100%}

}

.ind {
    margin-left: 60px;
}


.int {
    margin-left: 120px;
}

.intt {
    text-size-adjust: 500px;
    margin-left: 110px;
}

.indd {
    margin-left: 50px;
}

.mainbut:hover{
    background: black;
    color: white;
}

.navbar {
    font-size: 20px;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    background-color: grey;
}

.navbar a {
    font-family: 'Oxygen', sans-serif;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
  }

#home{
    float:left;
    display: block;
    color: lightblue;
    text-align: left;
}