body {
    width:100%;
    overflow: hidden;
    background: #e7ebe1;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* FINISHED INDEX ANIMATION */

.main {
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
    font-size: 1.3vw;
}

.navbar {
    display: inline-block;
    text-align: center;
    background:deepskyblue;
    width: 1000px;
    margin: 20px;
    padding: 100px;
    font-size: 20px;
    font-size: 20px;
    overflow: hidden;
}

.navbar a{
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    background: black;
    padding: 0px;
    margin: 5px;
    width: 0%;
    text-align: center;
    font-size: 0px;
    color: white;
    text-decoration: none;
    animation: hole 3s;
    animation-fill-mode: forwards;
}

.navbar a:hover {
    color: red;
}

@keyframes hole {
    0%{padding: 0px; width: 0%; font-size: 0px;}
    100%{padding: 70px; width: 20%; font-size: 20px;}
}

.tran {
    min-width: 100%;
    height: 0%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -150%;
    position: absolute;
    z-index: 2;
    -webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;
    animation: cover 1s;
    animation-fill-mode: forwards;
}
.tran:target {
    margin-top: 0%;
    background-color: #e7ebe1;
}

@keyframes cover{
    0%{height: 0%}
    100%{height: 100%}
}

.content{
    text-align: center;
	padding-bottom: 30px;
}

.mission {
    display: inline-block;
    margin: 20px;
    text-align: center;
    background:honeydew;
    width: 60%;
}

.mission h2 {
    font-size: 1.3vw;
}
.mission p {
    font-size: 1vw;
}

.about {
    display: inline-block;
    margin: 20px;
    text-align: center;
    background:rgb(255, 164, 220);
    width: 70%;
}

.about h2 {
    font-size: 1.3vw;
}

.us div {
    display: inline-block;
    font-size: 1vw;
    margin: 5px;
    border: solid black 2px; 
}

.us p {
    font-size: .7vw;
}